<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         version="6.0">

    <servlet>
        <servlet-name>orderServlet</servlet-name>
        <servlet-class>com.bookstore.servlet.OrderServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>orderServlet</servlet-name>
        <url-pattern>/api/orders/*</url-pattern>
    </servlet-mapping>


</web-app>